<% include ./partials/header%>
<div class="ui main text container segment">
    <div class="ui huge header">Edit <%=product.name%></div>
    <form class="ui form" action="/products/<%=product._id%>?_method=PUT" method="POST">
        <div class="field">
            <label>Name</label>
            <input type="text" name="product[name]" value="<%=product.name%>">
        </div>
        <div class="field">
            <label>Image</label>
            <input type="text" name="product[image]" value="<%=product.image%>">
        </div>
         <div class="field">
            <label>Price</label>
            <input type="text" name="product[price]" value="<%=product.price%>">
        </div>
        <div class="field">
            <label>Details</label>
            <textarea name="product[details]"><%=product.details%></textarea>
        </div>
        <input class="ui inverted blue button big" type="submit">

     </form>
</div>
<% include ./partials/footer%> 